

.button{
    cursor: pointer;
    margin-top: 20px;
    line-height: 40px;
    font-weight: bold;
    font-size: large;
    color: #f8f7f7;
    padding: 0 15px;
    background: #f22828;
    border: none;
    border-radius: 40px;
    /* box-shadow: 0 2px 20px 2px rgba(71, 71, 71, 0.6); */
}

.button:hover{
    background: white;
    color: #f22828;
    position: relative;
    top: 5px;
    box-shadow: none;
}

.img{
    padding: 10px;
    margin-block-end: -20px;
}


/* //--------------------------- CONTENEDORES  ------ */

.gral{
    min-height: 100vh;
    margin: 0%;
    height: auto;
    background: url('../../images/sky.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.conteiner{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.card{
    background-color: rgb(255, 255, 255, 0.3);
    border: solid 1px #f8f7f7;
    border-radius: 1em;
    width: 30em;
    height: fit-content;

}

.cardSecu{
    column-count: 2;
    column-gap: 1px;
    background-color: #51bafa;
    border: none; 
    border-radius: 1em;
    width: 30em;
    height: fit-content;
    padding-top: 15px;
    padding-block-end: 15px;

}


/* //---------------------------TITULOS ------ */
.title{
    color: #173ead; 
    padding-top: 15px;
    font-family: inherit;
    font-weight: 700;
    font-size: 35px;
}

.titleID{
    color: #f22828;
    padding-top: 8px;
    margin-block-end: 5px;
    font-family: inherit;
    font-weight: 700;
    font-size: 25px;
}

.titleTypes{
    color: #202020; 
    padding-top: 10px;
    font-family: inherit;
    font-weight: 700;
    font-size: 21px;
}

.titleCarac{
    /* justify-content: center center; */
    color: white;
    padding-top: 10px;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 5px;
}

.titleCarac2{
    /* justify-content: center center; */
    color: #202020; 
    padding-top: 10px;
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    /* padding: 5px; */
}

