.button{
    cursor: pointer;
    /* margin-top: 30px; */
    line-height: 40px;
    font-weight: bold;
    font-size: large;
    color: #f8f7f7;
    padding: 0 20px;
    background: #f22828;
    border: none;
    border-radius: 20px;
    /* box-shadow: 0 2px 20px 2px rgba(71, 71, 71, 0.6); */
}

.image{
    margin-top: -50px;
}

.globText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -50px;

}

.ups{
    font-family: inherit;
    font-weight: 700;
    font-size: 40px;
    color: rgb(58, 58, 58);
    margin-top: 10px;
}

.text{
    margin-top: -30px;
    margin-bottom: 30px;
    font-family: inherit;
    font-size: medium;
    color: rgb(58, 58, 58);

}